<p>
    Rim Score COVID is a nomogram developed by HM Hospitales.
    <br /><br />
    This score is not a registered clinical decision support tool and has not been reviewed or approved for any use-including diagnosis or treatment of disease or other conditions.
    <br /><br />
    HM Hospitales and the investigators who have developed the score are making this score available for academic and research use only.
    <br /><br />
    The RIM Score COVID does not replace the independent clinical judgment of healthcare professionals or the performance of any clinical assessment.
    <br /><br />
    The RIM Score COVID is not intended for the diagnosis or treatment of any disease or condition, including Covid-19 in individual patients.
    <br /><br />
    HM Hospitales hereby disclaims any and all representations and warranties regarding the RIM Score COVID, including warranties of fitness for use in clinical decision making and warranties that the RIM Score COVID works as intended, is clinically safe, does not infringe third party intellectual property rights, and/or is free from defects and bugs.
</p>
