@page "/RIMScoreAbout"
<h1>
    About RIM Score
</h1>
<p>
    The Risk of In-hospital Mortality score (RIM Score) is a practical quantitative prediction tool which uses routine parameters measured at hospital entry.
    <br /><br />
    These variables include age, sex, oxygen saturation, level of C-Reactive Protein (CRP) and value of neutrophil-to-platelet ratio (NPR).
    <br /><br />
    NPR is the ratio between the count of neutrophils (× 109 cells/L) and the count of platelets (× 1011 cells/L).
    <br /><br />
    The RIM Score provides a predictive value of in-hospital mortality risk due to COVID-19 with a high value of accuracy at hospital entry.
    <br /><br />
    In addition, the rate of change of NPR in the first week of hospital admission (Velocity of NPR (VNPR)), is used for COVID-19 hospitalized patients. VNPR measure the percent of change from the initial measurement per day.
    <br /><br />
    The RIM Score also provides a predictive value of in-hospital mortality risk due to COVID-19 with a high value of accuracy in hospitalized patients.
    <br /><br />
    This RIM score was derived from 1955 COVID-19 patients that were hospitalized at HM Hospitales Group in Spain from March 1 to June 10, 2020.
</p>
